
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disponibilité - Rou'libre</title>
    <link rel="stylesheet" href="/static/page.css">
<body>

<header>
    <h1>Rou'libre</h1>
</header>

<div class="logo">
    <img src="/static/images/logo.png" alt="Logo de Vélos Passion">
</div>

<div class="content">
    <p>Tous nos vélos disponibles (dans l'inventaire)</p>
    <ul>
        {% for velo in Lvelo.keys() %}
        <li>{{velo}} , {{Lvelo[velo]["nom"]}} , {{Lvelo[velo]["descCourte"]}} <input type="button" onclick="window.location.href = '/velo/{{velo}}' "; value="à propos"/> <input type="button" onclick="window.location.href = '/achat/{{velo}}' "; value="achat"/></li>
        {% endfor %}
    </ul>

    <p><a href="home">Retour à l'accueil</a></p>
</div>

</body>
</html>

