
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - Rou'libre</title>
    <link rel="stylesheet" href="/static/page.css">
</head>
<body>
    
<header>
    <table align="center" width="100%">
        <tr>
            <td width="33%"><a href="/home"><img src="/static/images/home.png" alt="page accueil"></a></td>
            <td width="33%"><h1>Rou'libre</h1></td>
            <td width="33%"><a href="/login"><img src="/static/images/profile.png" alt="connexion"></a></td>
        </tr>
    </table>
</header>

<div class="logo">
    <img src="/static/images/logo.png" alt="Logo de Vélos Passion">
</div>

<div class="content">
    <p>Bienvenue chez Vélos Passion, votre boutique spécialisée pour les passionnés de cyclisme. Découvrez notre large gamme de vélos de route, VTT, et vélos électriques.</p>

    <p><a href="/tout">Voir tous les vélos</a>   <a href="/dispos">Voir les vélos disponibles</a></p>
</div>

</body>
</html>

