<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/page.css">
    <title>Connexion</title>
</head>
<body>

    <header>
        <table align="center" width="100%">
            <tr>
                <td width="33%"><a href="/home"><img src="/static/images/home.png" alt="page accueil"></a></td>
                <td width="33%"><h1>Rou'libre</h1></td>
                <td width="33%"><a href="/login"><img src="/static/images/profile.png" alt="connexion"></a></td>
            </tr>
        </table>
    </header>

    <div class="logo">
        <img src="/static/images/logo.png" alt="Logo de Vélos Passion">
    </div>

    <h1>Connexion</h1>
    <form action="/dashboard" method="POST">
        <label for="id">identifiant :</label>
        <input type="text" id="id" name="id" required placeholder="l'identifiant c'est admin">
        
        <label for="mdp">Mot de passe :</label>
        <input type="password" id="mdp" name="mdp" required placeholder="le mot de passe c'est admin">
        
        <button type="submit">Se connecter</button>
    </form>
</body>
</html>